<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loto entres amis</title>
    <link rel="shortcut icon" href="../static/svg/loto.svg" type="image/svg">
    {% block css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block js %}
    <script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
    {% endblock %}
</body>
</html>